.advantages__list{
    display: block;
    @include mq(tablet-only){
      display: flex;
      flex-wrap: wrap;
    }
    @include mq(desktop){
      display: flex;
    }
  }
  .advantages{
    padding-top: 60px;
    padding-bottom: 60px; 

    @include mq(desktop){
      padding-top: 94px;
      padding-bottom: 94px;
    }
  }
  .advantages__examples{
    width: 100%;
    @include mq(tablet){
      width: 354px;
      
    }
  }
  .advantages__examples:nth-child(odd){
    margin-right: 30px;
  }
  
  .advantages__examples:not(:last-child){
    @include mq(desktop){
    margin-right: 30px;
    margin-bottom: 30px;
    }
    @include mq(mobile-only){
      margin-right: 30px;
      margin-bottom: 30px;
      }
  }
  .title__icon{
    display: flex;
    background-color:#F5F4FA;
    width: 100%;
    height: 120px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
  .title__text {
    display: flex;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color);
    margin-bottom: 10px;
    justify-content: center;
    @include mq(tablet){
      justify-content: flex-start;
    }
  }
.text__desc{
    
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    

  }
  .title__text:last-child{
    margin-right: 0;
  }
  .team__desc:last-child{
    margin-right: 0;
  }