.sociasls__item:not(:last-child){
    margin-right: 10px;
  }
  .socials__link{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: #fff;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus{
    background-color: var(--accent-color);
  }
  }
 
  .socials__link:hover .socials__icon,
  .socials__link:focus .socials__icon{
    fill: #fff;
  }
  .socials__icon{
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .site__subtitle {
    font-weight: bold;
    font-size: 28px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-bottom: 30px;
    @include mq(desktop){
      font-size: 36px;
      line-height: 1.17;
      margin-bottom: 50px;
    }
  }
  .our-team{
    background: #F5F4FA;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .team__list{
    display: block;
    margin-left: auto;
    margin-right: auto;
    @include mq(tablet){
      
      display: flex;
      flex-wrap: wrap;
    }
    @include mq(desktop){
      display: flex;
    }
  }
  .team__list {
  @media screen and (max-width: 767.5px){
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
}
  }
  .team__subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-bottom: 10px;
  }
  .team__desc {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    margin-bottom: 16px;
  }
  .team__text{
    padding-top: 30px;
    padding-bottom: 24px;
    @include mq(desktop){
      padding-bottom: 30px;
    }
  }
  .team__icon{
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin-bottom: 30px;
    max-width: 450px;
   
    
  @include mq(tablet){
    flex-basis: calc(100% / 2 - 30px);
}
@include mq(desktop){
  flex-basis: calc(100% / 4 - 30px); 
}
  }
  .team__icon:not(:last-child){
    margin-right: 30px;
    @include mq(mobile-only){
      margin: 0;
      margin-bottom: 30px;
    }
  }
 