@import "./reset";

body {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #212121;
  }
  img{
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  .our-job{
    padding-bottom: 94px;
  }
  .socials{
    display: flex;
    justify-content: center;
  }